* {
  padding: 0;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 18px;
}

.message-form {
  display: flex;
  flex-direction: column;
  width: 95%;
  position: fixed;
  bottom: 0;
  margin: 5px 10px;
}

.message-form>div {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
}

.message-form>div>textarea {
  width: 70%;
  padding: 10px;
}

.message-form>div>input {
  width: 100%;
  padding: 10px 20px;
}

.message-form>div>button {
  width: 30%;
  padding: 10px;
  /* border-left: none; */
}

.message>h4 {
  text-align: center;
  padding: 10px 20px;
  margin-top: 10px;
}


.chat-message {
  width: 90%;
  margin: 1px auto;
  padding: 0px 20px;
  overflow-y: auto;
  box-sizing: border-box;
  height: 60vh;
  scrollbar-width: none;
}

.li-item {
  width: 100%;
  display: grid;
  margin: 10px auto;
}

.chat-right {
  justify-self: right;
  list-style: none;
  background-color: #005c4b;
  color: white;
  border-radius: 7.5px;
  border-top-right-radius: 0;
  padding: 5px 10px;
  width: fit-content;
}

.chat-left {
  justify-self: left;
  list-style: none;
  background-color: #202c33;
  border-radius: 7.5px;
  border-top-left-radius: 0;
  color: whitesmoke;
  padding: 5px 10px;
  width: fit-content;
}

.room-form {
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-form>input {
  width: 70%;
  padding: 10px 20px;
}

.room-form>button {
  width: 30%;
  padding: 10px 20px;
}
